<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>NMS Galaxy Mapper</title>
  <link rel="stylesheet" href="styles.css">

<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-3.1.1.slim.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">  
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>




<script>
  $(document).ready( function () {
    $('#table_id').DataTable({
      searching: true,
      ordering: true
    });
} );

$("input:text").val(function (i, value) {
    /* Return the new value here. "value" is the old value of the input: */
    return value.replace(/:/g, "&#58;", "g");
});
</script>

</head>


<body>
  <h1>NMS Galaxy Mapper</h1>
<P>Actual front-end coming SOON(tm).</P> 
<P>Actual domain name coming SOON(tm). Nomans.skygin.net is a temporary home.</P>
<P>This is a proof-of-concept to see if anyone is interested before investing more time.</P>

<div class="table_container">
  <table id="table_id" class="display">
    <thead>
        <tr>
            <th>User</th>
            <th>ID</th>
            <th>Name</th>
            <th>Class</th>
            <th>Race</th>
            <th>Tags</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <% for(var i=0; i<quotes.length; i++) {%>
          <tr>
            <td><%= quotes[i].user %></td>
            <td>
              <a href="detail-<%= quotes[i].guid %>"><%= quotes[i].id %></a>
            </td>
            <td><%= quotes[i].name %></td>
            <td><%= quotes[i].class %></td>
            <td><%= quotes[i].race %></td>
            <td><%= quotes[i].tags %></td>
            <td><a class="delete_href" href="delete-<%= quotes[i].guid %>">[X]</a></td>
          </tr>
        <% } %>
    </tbody>
  </table>
</div>


<div class="add_container">
  <h2>Add a Star System</h2>

  <!-- 
    <h4>
    User   <input type="text" placeholder="u/user_name/" name="user"><br>
    Star ID   <input type="text" placeholder="0000:0000:0000:0000" name="id"><br>
    Current Star Name   <input type="text" placeholder="[HUB-X-00] coolname [stuff]" name="name"><br>
    Star Class   <input type="text" placeholder="F9pf" name="class"><br>
    Occupying Race   <input type="text" placeholder="Gek" name="race"><br>
    What was interesting?   <input type="text" placeholder="Ce, Te, Sp, DynRes, Lush, Diplo" name="tags"></h4> -->

    <div class="add_left_col">
       <br> 
      User  <br>
      Star ID  <br>
      Current Star Name  <br>
      Star Class  <br>
      Occupying Race <br>
      What was interesting? 

    </div>


    <div class="add_right_col">

      <form action="/quotes" method="POST" >
        <button type="submit">Submit</button><br>
          <input type="text" placeholder="u/user_name/" name="user"><br>
          <input type="text" placeholder="0000:0000:0000:0000" name="id"><br>
          <input type="text" placeholder="[HUB-X-00] coolname [stuff]" name="name"><br>
          <input type="text" placeholder="F9pf" name="class"><br>
          <input type="text" placeholder="Gek" name="race"><br>
          <input type="text" placeholder="Ce, Te, Sp, DynRes, Lush, Diplo" name="tags">
      </form>

    </div>

  
</div>



<!-- 
  <div>
    <h2>Replace last quote written by Master Yoda with a quote written by Darth Vadar</h2>
    <button id="update"> Darth Vadar invades! </button>
  </div>

  <div>
    <h2>Delete Darth Vadar's first quote</h2>
    <button id="delete"> Delete first Darth Vadar quote </button>
  </div> -->

  <script src="main.js"></script>

</body>
</html>